<div class="row">
  <a id="createButton" href="#/tags/create" class="btn btn-primary" title="Create new Tag">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
  </a>
</div>

<div class="row" ng-controller="TagsCtrl as tc" ng-init="tc.findAll()">
  <table class="table tags">
    <thead>
    <tr>
      <th>Name</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="tag in tc.tags">
      <td scope="row">
        <a href="#/tags/{{ tag.id }}">{{ tag.name }}</a>
      </td>
      <td am-time-ago="tag.createdAt">{{ tag.createdAt | date:"MM/dd/yyyy 'at' h:mma" }}</td>
      <td am-time-ago="tag.updatedAt">{{ tag.updatedAt | date:"MM/dd/yyyy 'at' h:mma" }}</td>
    </tr>
    </tbody>
  </table>
</div>
