<div ng-controller="TagsCtrl as tc" ng-init="tc.details()" class="row">
  <div class="row">
    <a href="#/tags" class="btn btn-primary" title="Back to Tag list">
      <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
      Back
    </a>
  </div>

  <h2>{{ tc.tag.name }}</h2>

  <div class="blogs">
    <div class="card" ng-repeat="post in tc.tag.posts">
      <div class="card-header">
        {{ post.title }}
      </div>
      <div class="card-block">
        <p class="card-text">{{ post.description }}</p>
        <span class="tag tag-info" ng-repeat="tag in post.tags">{{ tag.name }}</span>
      </div>
      <div class="card-footer text-muted">
        Created <span am-time-ago="post.createdAt">{{ post.createdAt | date:"MM/dd/yyyy 'at' h:mma" }}</span>,
        Updated <span am-time-ago="post.createdAt">{{ post.updatedAt | date:"MM/dd/yyyy 'at' h:mma" }}</span>
      </div>
    </div>
  </div>

  <div class="row">
    <button class="btn btn-danger" title="Delete" ng-click="tc.delete()" id="delete">
      <i class="fa fa-arrow-circle-cross" aria-hidden="true"></i>
      Delete
    </button>
  </div>
</div>
